* {
    font-family: 'Comfortaa', cursive;
}


/*Centrar toda la pagina*/
div {
    top: 7%;
    width: 100%;
    text-align: center;
    font-size: 18px;
}
.div2 {
    top: 7%;
    width: 100%;
    text-align: center;
    font-size: 18px;
}
/*Titulo Pagina*/
h2 {
    text-align: center;
    top: 10%;
    font-size: 36px;
}

/*Divisor texto del pickRandom*/


h3 {
    text-align: center;
    top: auto;
    font-size: 26px;
}
/*Estilo Boton*/
.button {
    margin: auto;
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .button:hover {background-color: #368039}
  
  .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
